body{
  overflow-y:scroll;
  overflow-x:hidden;
  font-family:Arial,sans-serif;
}
:root,html,body{
  background-color:#f5f5f5;
  box-sizing:border-box;
}
div,h1,h2,h3,h4,h5,h6,i,nav,p,html,header,img,label,li,small,ul,span{
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
e-webkit-keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}